


@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}


@font-face {
    font-family: "Fustat";
    src: url(../fonts/Fustat/);
    font-weight: 500;
}