@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

body {
  background: #141414;
  color: #f0f0f0;
  min-height: 320px;
}

.header {
  padding: 10px 0;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__nav_item-link {
  color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.banner {
  background: url(../img/bg.png) no-repeat center bottom / cover;
  height: 80svh;
}

.banner__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(3.125rem, 0.93rem + 10.98vw, 8.75rem);
  color: #b31d1e;
}

.banner__link {
  display: inline-block;
  max-width: 265px;
  width: 100%;
  padding: 18px;
  background: linear-gradient(93.34deg, #ffa600 0%, #e41818 100%);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #141414;
  border-radius: 4px;
  transition: 0.3s;
}

.banner__link:hover {
  color: #f0f0f0;
  background: linear-gradient(93.34deg, #e41818 0%, #ffa600 100%);
}

.car {
  margin: 114px 0 164px;
}

.car__wrap {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}

.car__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 540px;
  width: 100%;
}
.car__left-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(1.563rem, 1.197rem + 1.83vw, 2.5rem);
  color: #eb3a13;
}

.car__left-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #f0f0f0;
  word-break: break-all;
}

.car__right {
  max-width: 540px;
  width: 100%;
}

.car__right {
  width: 100%;
}

.gallery {
  margin-bottom: 180px;
}

.gallery__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #eb3a13;
  margin-bottom: 30px;
}

.gallery__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__img {
  flex: 0 0 calc(50% - 15px);
}

.gallery__img img {
  width: 100%;
}

.gallery__Bigimg img {
  width: 100%;
}

.gallery__Bigimg img {
  flex: 100%;
}

.about {
  margin-bottom: 120px;
}

.about__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 152px;
}

.about__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #eb3a13;
}

.about__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.about__img img {
  width: 100%;
}

.footer {
  padding: 38px 0 62px;
  background: #1f1f1f;
}

.footer__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__nav-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 350px;
  width: 100%;
}

.footer__nav-form_input {
  background: none;
  outline: none;
  border: none;
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f0f0;
  font-family: "Fustat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.footer__nav-form_btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  margin-top: 22px;
  background: linear-gradient(93.34deg, #ffa600 0%, #e41818 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.footer__nav-right {
  display: flex;
  align-items: flex-start;
  gap: 52px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__nav-list_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.footer__nav-list_item-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #f0f0f0;
}
